<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> ROCK PAPER SCISSORS GAME</title>
  </head>
  <body>
    <nav>
      <ul>
        <li> <a href='/'> home </a></li>
        <li><a href='/rules'> rules</a> </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
