<h1>Rules</h1>
<h2> you dont know how to play rock paper scissors?... wierd...
i'm judging you too hard</h2>

<h2> copy the link and enter your first play.
example localhost:4567/rock/paper and the results will appear!</h2>

<p>
  Rock Beats Scissors,
  Scissors Beats Paper,
  Paper Beats Rock
</p>
